In [1]:
import warnings 
warnings.filterwarnings('ignore')

import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns
sns.set()

In [2]:
os.getcwd()
#os.chdir("new path")

'C:\\Users\\Lenovo\\Desktop\\Project Evening\\E-Commerce Analytics'

In [3]:
dataset = pd.read_csv('E-com_Data.csv')
dataset.head()

,CustomerID,Item Code,InvoieNo,Date of purchase,Quantity,Time,price per Unit,Price,Shipping Location,Cancelled_status,Reason of return,Sold as set
0,4355.0,15734,398177.0,29-10-2017,6.0,3:36:00 PM,321.0,1926.0,Location 1,NaN,NaN,NaN
1,4352.0,14616,394422.0,05-10-2017,2.0,2:53:00 PM,870.0,1740.0,Location 1,NaN,NaN,NaN
2,4352.0,14614,394422.0,12-10-2017,2.0,2:53:00 PM,933.0,1866.0,Location 1,NaN,NaN,NaN
3,4352.0,85014B,388633.0,22-08-2017,3.0,2:47:00 PM,623.0,1869.0,Location 1,NaN,NaN,NaN
4,4352.0,15364,394422.0,10-10-2017,2.0,2:53:00 PM,944.0,1888.0,Location 1,NaN,NaN,NaN

In [5]:
dataset.tail()

,CustomerID,Item Code,InvoieNo,Date of purchase,Quantity,Time,price per Unit,Price,Shipping Location,Cancelled_status,Reason of return,Sold as set
541111,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
541112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
541113,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
541114,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
541115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541116 entries, 0 to 541115
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   CustomerID         404189 non-null  float64
 1   Item Code          537979 non-null  object
 2   InvoieNo           537979 non-null  float64
 3   Date of purchase   537979 non-null  object
 4   Quantity           537979 non-null  float64
 5   Time               537979 non-null  object
 6   price per Unit     537979 non-null  float64
 7   Price              537979 non-null  float64
 8   Shipping Location  537979 non-null  object
 9   Cancelled_status   8345 non-null    object
 10  Reason of return   3 non-null       object
 11  Sold as set        0 non-null       float64
dtypes: float64(6), object(6)
memory usage: 49.5+ MB

In [6]:
dataset.isnull().sum()/len(dataset)*100

CustomerID            25.304556
Item Code              0.579728
InvoieNo               0.579728
Date of purchase       0.579728
Quantity               0.579728
Time                   0.579728
price per Unit         0.579728
Price                  0.579728
Shipping Location      0.579728
Cancelled_status      98.457817
Reason of return      99.999446
Sold as set          100.000000
dtype: float64

In [7]:
dataset.nunique()

CustomerID            4349
Item Code             4009
InvoieNo             24928
Date of purchase       381
Quantity               462
Time                   770
price per Unit        2900
Price                13529
Shipping Location       20
Cancelled_status         1
Reason of return         2
Sold as set              0
dtype: int64

In [ ]:
# EDA - Pandas profiling / dataprep / lux / dtale
# !pip install pandas-profiling

In [8]:
from pandas_profiling import ProfileReport

prof = ProfileReport(dataset)
prof.to_file(output_file ='output.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [4]:
dataset.columns

Index(['CustomerID', 'Item Code', 'InvoieNo', 'Date of purchase', 'Quantity',
       'Time', 'price per Unit', 'Price', 'Shipping Location',
       'Cancelled_status', 'Reason of return', 'Sold as set'],
      dtype='object')

In [5]:
dataset = dataset.drop(['Item Code','Quantity','Time', 'price per Unit','Shipping Location',
       'Cancelled_status', 'Reason of return', 'Sold as set'], axis=1)
dataset.head()

   CustomerID  InvoieNo Date of purchase   Price
0      4355.0  398177.0       29-10-2017  1926.0
1      4352.0  394422.0       05-10-2017  1740.0
2      4352.0  394422.0       12-10-2017  1866.0
3      4352.0  388633.0       22-08-2017  1869.0
4      4352.0  394422.0       10-10-2017  1888.0

In [6]:
dataset.duplicated().sum()

6008

In [7]:
dataset = dataset.drop_duplicates(ignore_index=True)

In [8]:
dataset.duplicated().sum()

0

In [9]:
dataset = dataset.rename(columns={'InvoieNo':'InvoiceNo', 'Date of purchase':'Date'})
dataset.head()

   CustomerID  InvoiceNo        Date   Price
0      4355.0   398177.0  29-10-2017  1926.0
1      4352.0   394422.0  05-10-2017  1740.0
2      4352.0   394422.0  12-10-2017  1866.0
3      4352.0   388633.0  22-08-2017  1869.0
4      4352.0   394422.0  10-10-2017  1888.0

In [10]:
dataset.isnull().sum()

CustomerID    132249
InvoiceNo          1
Date               1
Price              1
dtype: int64

In [12]:
dataset = dataset.dropna(subset=['CustomerID'])

In [13]:
dataset.isnull().sum()

CustomerID    0
InvoiceNo     0
Date          0
Price         0
dtype: int64

In [14]:
# Analyse date part
import datetime as dt

In [16]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 402859 entries, 0 to 535079
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   CustomerID  402859 non-null  float64
 1   InvoiceNo   402859 non-null  float64
 2   Date        402859 non-null  object
 3   Price       402859 non-null  float64
dtypes: float64(3), object(1)
memory usage: 15.4+ MB

In [17]:
dataset['Date'] = pd.to_datetime(dataset['Date'])

In [18]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 402859 entries, 0 to 535079
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   CustomerID  402859 non-null  float64
 1   InvoiceNo   402859 non-null  float64
 2   Date        402859 non-null  datetime64[ns]
 3   Price       402859 non-null  float64
dtypes: datetime64[ns](1), float64(3)
memory usage: 15.4 MB

In [19]:
dataset['Date'].describe()

count                  402859
unique                    381
top       2017-11-24 00:00:00
freq                     2507
first     2016-02-12 00:00:00
last      2017-12-19 00:00:00
Name: Date, dtype: object

In [20]:
latest_date = dt.datetime(2017,12,20)
latest_date

datetime.datetime(2017, 12, 20, 0, 0)

In [22]:
RFMScore = dataset.groupby('CustomerID').agg({'Date': lambda x : (latest_date - x.max()).days,
                                             'InvoiceNo' : lambda x : x.count(),
                                             'Price' : lambda x : x.sum()})

RFMScore.rename(columns = {'Date':'Recency', 'InvoiceNo':'Frequency','Price':'Monetory'},inplace=True)

In [23]:
RFMScore

            Recency  Frequency  Monetory
CustomerID
2.0               4        181  550416.0
3.0              77         27  257404.0
4.0              20         72  176613.0
5.0              18         16   41976.0
6.0               9         84  151822.0
...             ...        ...       ...
4368.0           17         10   20480.0
4369.0          181          7   10774.0
4370.0           12         13   24962.0
4371.0            4        751  279720.0
4372.0           51         68  256952.0

[4349 rows x 3 columns]

In [24]:
RFMScore.reset_index()

      CustomerID  Recency  Frequency  Monetory
0            2.0        4        181  550416.0
1            3.0       77         27  257404.0
2            4.0       20         72  176613.0
3            5.0       18         16   41976.0
4            6.0        9         84  151822.0
...          ...      ...        ...       ...
4344      4368.0       17         10   20480.0
4345      4369.0      181          7   10774.0
4346      4370.0       12         13   24962.0
4347      4371.0        4        751  279720.0
4348      4372.0       51         68  256952.0

[4349 rows x 4 columns]

In [25]:
for i in RFMScore.columns:
    print("***********************************",i,
         "**********************************************************")
    print()
    print(set(RFMScore[i].tolist()))
    print()

*********************************** Recency **********************************************************

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 587, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 526, 92, 93, 94, 95, 98, 99, 100, 101, 102, 103, 104, 105, 617, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 106, 119, 120, 121, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 141, 142, 143, 144, 145, 146, 148, 149, 150, 151, 152, 155, 157, 161, 163, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 183, 185, 188, 190, 191, 196, 197, 198, 199, 200, 201, 203, 204, 205, 206, 207, 208, 209, 211, 212, 214, 216, 220, 226, 228, 230, 231, 232, 234, 235, 236, 237, 239, 240, 241, 242, 243, 244, 246, 250, 251, 252, 257, 258, 260, 261, 262, 264, 265, 266, 267, 268, 269, 270, 271, 272, 275, 277, 278, 283, 284, 286, 292, 293, 295, 296, 297, 298, 299, 300, 306, 307, 309, 320, 321, 322, 323, 324, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 337, 351, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 403, 80, 434, 464, 495}

*********************************** Frequency **********************************************************

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 243, 244, 245, 246, 248, 249, 250, 251, 252, 253, 254, 255, 257, 258, 259, 260, 261, 262, 263, 264, 265, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 280, 281, 282, 283, 284, 285, 286, 288, 289, 291, 293, 295, 296, 297, 298, 300, 302, 305, 306, 308, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 326, 327, 328, 329, 330, 332, 338, 340, 341, 342, 343, 344, 345, 346, 348, 349, 351, 352, 353, 357, 358, 359, 360, 362, 363, 364, 365, 366, 372, 374, 375, 377, 379, 380, 381, 383, 384, 387, 389, 391, 392, 394, 397, 399, 401, 406, 408, 409, 410, 411, 412, 413, 414, 416, 417, 418, 420, 421, 422, 426, 429, 436, 438, 439, 2487, 442, 444, 445, 447, 449, 451, 453, 455, 459, 460, 461, 466, 468, 470, 472, 473, 476, 483, 484, 485, 494, 495, 4592, 498, 499, 500, 501, 503, 506, 511, 514, 517, 518, 533, 541, 544, 545, 546, 555, 556, 559, 561, 563, 569, 575, 580, 585, 589, 603, 604, 608, 609, 619, 628, 631, 651, 657, 663, 666, 668, 687, 692, 695, 697, 699, 703, 716, 718, 720, 2775, 740, 741, 750, 751, 755, 794, 867, 895, 919, 5023, 934, 966, 973, 1008, 1048, 1059, 1077, 1124, 1150, 1157, 1159, 1202, 1274, 1390, 1507, 1617, 1662, 5854, 7919, 1848, 2045}

*********************************** Monetory **********************************************************
